.formContainer {
    background: #fffbe6;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(223, 194, 93, 0.08);
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    max-width: 400px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formTitle {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    color: #6f4e19;
    text-align: center;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    font-size: 1rem;
    color: #8d772b;
    margin-bottom: 0.2rem;
}

.input {
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
    border: 1px solid #ecd57c;
    border-radius: 6px;
    background: #fff;
    transition: border-color 0.2s;
}

.messageTextarea {
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
    border: 1px solid #ecd57c;
    border-radius: 6px;
    background: #fff;
    transition: border-color 0.2s;
    height: 10rem;
    resize: vertical;
}

.input:focus {
    border-color: #d7b74b;
    outline: none;
}

.submitButton {
    margin-top: 0.5rem;
    background: #ead48d;
    color: #785f23;
    border: none;
    border-radius: 8px;
    padding: 0.7rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    width: 33%;
    align-self: center;
    transition: background 0.2s;
}

.submitButton:hover,
.submitButton:focus {
    background: #e0bb4a;
}

.formMessage {
    margin-top: 1rem;
    font-size: 1rem;
    color: #477b28;
    text-align: center;
}

