.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  background: var(--primary-color);
}

.footerIcon {
  color: var(--light-text-color);
}