/* shared */
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--primary-color);
}

.listItem {
  margin: 0;
}

.listItem a {
  display: block;
  padding: 1rem;
  margin: 1rem;
  color: white;
  text-decoration: none;
  transition: background 0.2s;
  border-radius: 8px;
}

.listItem a:hover,
.listItem a.active {
  background: #444;
}

.headerText {
  color: var(--light-text-color);
  margin-right: auto;
}

/* Desktop */
.headerDesktop {
  display: flex;
  flex-direction: row;
  gap: 1.5rem; /* space between items */
  align-items: center; /* vertically center children */
  padding: 1rem 2rem;
  height: var(--header-height);
}

.desktopList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Mobile */
.headerMobile {
  gap: 1.5rem; /* space between items */
  align-items: center; /* vertically center children */
}

.headerMobileContent {
  display: flex;
  flex-direction: row;
  gap: 1.5rem; /* space between items */
  align-items: center; /* vertically center children */
  padding: 1rem 2rem;
  height: var(--header-height);
}

.menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75); /* Black with 60% opacity*/
  z-index: 9999; /* On top of other content*/
}

.mobileList {
  list-style: none;
  padding: 0;
  margin: 0 0 5rem 0;
  font-size: 2rem;
}

.openMenuButton {
  margin-left: auto;
}

.icon {
  color: var(--light-text-color);
}