.projectContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #222;
}

.descriptionParagraph {
    font-size: var(--paragraph-font-size);
    font-weight: 400;
    margin: 1.1em 0;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--light-text-color);
}

.projectTitle {
    font-size: var(--title-font-size);
    font-weight: 700;
    color: var(--light-text-color);
    margin: 2rem 0 1rem 0;
    letter-spacing: 0.03em;
    line-height: 1.2;
    border-left: 12px solid var(--accent-color);
    padding-left: 1rem;
    background: var(--forground-color);
    border-radius: 0.2em;
}

.imageNavigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.images {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    width: 100vw;
    height: calc(50vh - 6rem);
}

.image {
    z-index: -1;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.imageOpaque {
    opacity: 1;
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";*/
    /*filter: alpha(opacity=1);*/
}

.tags {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 8px;
    font-size: var(--note-font-size);
    color: var(--light-text-color);
}

.tag {
    background: var(--accent-color);
    color: var(--light-text-color);
    font-size: var(--note-font-size);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
}
