.projectContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.title {
  font-size: 1.3rem;
  margin: 0;
  color: #222;
}

.descriptionParagraph {
  font-size: var(--paragraph-font-size);
  font-weight: 400;
  margin: 1rem;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
}

.projectTitle {
  font-size: var(--title-font-size);
  font-weight: 700;
  color: var(--light-text-color);
  margin: 1rem;
  letter-spacing: 0.03em;
  line-height: 1.2;
  border-left: 12px solid var(--primary-color);
  padding-left: 1rem;
  background: var(--light-neutral-color);
  border-radius: 0.2em;
}

.imageNavigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.images {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  width: 100vw;
  height: calc(50vh - 6rem);
}

.image {
  z-index: -1;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.imageOpaque {
  opacity: 1;
  /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";*/
  /*filter: alpha(opacity=1);*/
}

.tags {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 12px;
  font-size: var(--note-font-size);
  color: var(--light-text-color);
}

.tag {
  background: var(--primary-color);
  color: var(--light-text-color);
  font-size: var(--note-font-size);
  border-radius: 0.5rem;
  font-weight: 500;
  margin: 0; /* ensure no external spacing */
  padding: 8px;
}
