.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 10rem;
}

.currentRouteContainer {
  flex: 1;
  max-width: 1920px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: start; /* vertical centering */
  justify-content: center; /* horizontal centering */
  background: var(--dark-neutral-color);
}
