body {
  background-color: #e1e2e3;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

:root {
  --primary-color: #95F527;
  --card-bg: #f6faff;
  --heading-color: #22223b;
}
