:root {
  --header-height: 60px;

  --title-font-size: 2.5rem;
  --header-font-size: 2.25rem;
  --subheader-font-size: 2rem;
  --detail-font-size: 1.75rem;
  --paragraph-font-size: 1.5rem;
  --note-font-size: 1.25rem;

  --light-text-color: white;
  --dark-text-color: #0D0C00;

  --background-color: #1E1F22;
  --forground-color: #666666;

  --border-color: #000000;
  --focused-border-color: #1976d2;
  --shadow-color: black;

  --highlight-accent-color: #2196f3;
  --dark-accent-color: #332200;

  --accent-color: #59492A;
}