:root {
  --header-height: 40px;

  --title-font-size: 2.5rem;
  --header-font-size: 2.25rem;
  --subheader-font-size: 2rem;
  --detail-font-size: 1.75rem;
  --paragraph-font-size: 1.5rem;
  --note-font-size: 1.25rem;

  --primary-color: #59492A;
  --secondary-color: #332200;
  --info-color: #2196f3;
  --warning-color: yellow;
  --error-color: red;
  --success-color: green;
  --light-neutral-color: #666666;
  --dark-neutral-color: #1E1F22;

  --border-color: #000000;
  --shadow-color: black;

  --light-text-color: white;
  --dark-text-color: #0D0C00;
}